<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="title" content="iamjpg - Photography">
    <meta name="description" content="Photography">
    <meta name="author" content="Farzad Qasim">
    <title>iamjpg | {{ title }}</title>
    <link rel="stylesheet" href="styles/styles.css" />
</head>

<body>
    <header>
        <h1>
            iamjpg
        </h1>
        <nav>
            <ul>
                <li><a href="latest.html">Latest</a></li>
                <li><a href="printed.html">Printed</a></li>
                <li><a href="places.html">Places</a></li>
                <li><a href="faces.html">Faces</a></li>
                <li><a href="index.html">Home</a></li>
            </ul>
            <button class="mobile-menu" href="#"></button>
        </nav>
    </header>

    <ul class="photo-wrapper">
        {{{ contents }}}
    </ul>

    <script src="scripts/index.js"></script>
    <script type="text/javascript">
     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-17028248-4']);
     _gaq.push(['_trackPageview']);

     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
   </script>    
</body>

</html>
