html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
    background: grey;
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
    font-family: Helvetica;
    font-size: 14px;
    background: #fff;
    overflow: hidden;
}

.wrapper {
    white-space: nowrap;
    position: relative;
    width: 100%;
    height: 200px;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;

    li {
        height: 100%;
        width: auto;
        display: inline-block;
    }
}

img {
    margin-right: 3px;
    width: auto;
    height: 100%;
}

header {
    width: 100%;
    height: 10px;
    background: #fff;
    padding: 10px;
}

nav ul li {
    float: right;
    margin-right: 10px;
}

@media screen and (min-device-width: 569px) and (min-width: 569px) {
    .wrapper {
        height: 589px;
        background:black;
    }
}
